@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");

@tailwind base;
@layer base {
  html {
    font-family: "Sora", sans-serif;
  }
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-sm;
  }

  p {
    @apply text-base;
  }
}
@tailwind components;
@tailwind utilities;
